
<!-- experiment main content -->
<div class="col-xs-12 col-sm-12 col-md-9">

  <!-- copy -->
  <div id="lb-experiment-copy">
    <h3><%- title %></h3>
    <p><%- description %></p>
  </div>
  <!-- end copy -->

  <!-- display code -->
  <pre id="lb-experiment-display-code"><%- html %></pre>
  <!-- end display code -->

  <!-- live code -->
  <div id="lb-experiment-live-code"><%= html %></div>
  <!-- end live code -->

  <button id="test-button">Test Button</button>

</div>
<!-- end experiment main content -->
