
<!-- experiment main content -->
<div class="col-xs-12 col-sm-12 col-md-9">

  <!-- copy -->
  <div id="lb-experiment-copy"></div>
  <!-- end copy -->

  <!-- code -->
  <div id="lb-experiment-code"></div>
  <!-- end code -->

  <!-- result -->
  <div id="lb-experiment-result"></div>
  <!-- end result -->

  <button id="test-button">Test Button</button>

</div>
<!-- end experiment main content -->
